@model bankacademy.Models.Clients

@{
    ViewBag.Title = "Trasaction Details";
}

<h3>Transaction Details</h3>

<table class="table table-center table-bordered table-hover">
    <tbody>

        <tr><th><h2>@Model.Name</h2></th><th>Dates</th><th>Transaction Values</th></tr>

        <tr>
            <td>Withdraw:</td>
            <td>
                @string.Format("{0:MM/dd/yyyy}", Model.WithdrawnDate)
            </td>
            <td>
                @string.Format("{0:C}", Model.WithdrawnAmt)
            </td>
        </tr>
        <tr>
            <td>Deposit:</td>
            <td>

                @string.Format("{0:MM/dd/yyyy}", @Model.DepositDate)
            </td>
            <td>
                @string.Format("{0:C}", @Model.DepositAmt)

            </td>
        </tr>
        <tr>
            <td>Description:</td>
            <td colspan="2">

                @Model.TransactionDesc
            </td>


        </tr>

        <tr>
            <td>Category:</td>
            <td colspan="2">

                @Model.ClientType.Name
            </td>


        </tr>
        <tr>
            <td>Set-Up Date/Member Status:</td>
            <td colspan="2">

                @Model.ClientType.SetupDate
                Status: @Model.ClientType.MemberExpire
            </td>


        </tr>


    </tbody>
    




</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
